extends layouts/main-layout.pug 
block content
    +navbar(userDetails)
    .container 
      h1 User Profile Settings
      p #{userDetails.name}
      p #{userDetails.email}
      p #{userDetails.profilePic}
